/* -------------------navbar------------------- */
$navbar-height: 70px;
.navbar {

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $navbar-height;
        padding: 0;
        color: aliceblue;

        &.active {
            background-color: #ddd;
        }
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        padding-left: 10px;

        .img-container {
            border: 1px solid #666;
            border-radius: 50%;
            overflow: hidden;
        }
        img {
            width: 50px;
            height: auto;
        }
        h1 {
            font-size: 24px;
            font-weight: 400;
        }
    }

    &__menu {
        // display: flex;
        display: none;

        height: 50px;
        gap: 20px;
        @media (max-width: 768px) {
            display: none;
        }

        &.active {
            // display: flex;
            display: none;

            flex-direction: column;
            position: absolute;
            top: $navbar-height;
            height: calc(100vh - $navbar-height);
            width: 100vw;
            background-color: #333;
        }
    }

    &__link {
        
        display: flex;
        align-items: center;
        height: 100%;
        transition: all .1s ease-in-out;
        padding: 0 10px;

        &:hover:not(.icon) {
            background-color: #ddd;
            color: black;
        }

        &.icon {
            display: none;
            flex-direction: column;
            justify-content: center;
            gap: 5px;
            padding-right: 10px;
            span{
                width: 36px;
                height: 5px;
                background-color: #616161;
            }

            @media (max-width: 768px) {
                // display: flex;
            }
        }
    }
}

nav {
    background-color: $primary;

}

/* -------------------------------------------- */
