<section class="section__partners">
    <div class="container">
        <div class="partners">
            <h3 class="partners__title">Trusted by DAOs around the world</h3>
            <ul class="partners__list">
                <li class="partners__item">
                    <img src="img/partner1.png" alt="partner" class="partners__icon">
                    <p class="partners__name">Bankless DAO</p>
                </li>
                <li class="partners__item">
                    <img src="img/partner2.svg" alt="partner" class="partners__icon">
                    <p class="partners__name">Index Coop</p>
                </li>
                <li class="partners__item">
                    <img src="img/partner3.svg" alt="partner" class="partners__icon">
                    <p class="partners__name">Compund Grants</p>
                </li>
                <li class="partners__item">
                    <img src="img/partner4.svg" alt="partner" class="partners__icon">
                    <p class="partners__name">Aave Grants DAO</p>
                </li>
                <li class="partners__item">
                    <img src="img/partner5.svg" alt="partner" class="partners__icon">
                    <p class="partners__name"></p>
                </li>
                <li class="partners__item">
                    <img src="img/partner6.png" alt="partner" class="partners__icon">
                    <p class="partners__name">Audio Grants Committee</p>
                </li>
                <li class="partners__item">
                    <img src="img/partner7.png" alt="partner" class="partners__icon">
                    <p class="partners__name">Olympus DAO</p>
                </li>
                <li class="partners__item">
                    <img src="img/partner8.svg" alt="partner" class="partners__icon">
                    <p class="partners__name"></p>
                </li>
                <li class="partners__item">
                    <img src="img/partner9.png" alt="partner" class="partners__icon">
                    <p class="partners__name">Party DAO</p>
                </li>
                <li class="partners__item">
                    <img src="img/partner10.png" alt="partner" class="partners__icon">
                    <p class="partners__name">Forefront</p>
                </li>
            </ul>
        </div>
    </div>
</sectin>