@charset "UTF-8";
/*   Обнуление    */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, aside, header {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*----------------*/
/*     шрифты     */
/*----------------*/
/* -------------------navbar------------------- */
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.navbar .container.active {
  background-color: #ddd;
}
.navbar__logo img {
  width: 50px;
  height: auto;
}
.navbar__menu {
  display: flex;
  height: 50px;
}
@media (max-width: 768px) {
  .navbar__menu {
    display: none;
  }
}
.navbar__menu.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
  height: calc(100vh - 70px);
  width: 100vw;
  background-color: #333;
}
.navbar__link {
  color: aliceblue;
  font-size: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0 10px;
  height: 100%;
  transition: all 0.1s ease-in-out;
}
.navbar__link:hover {
  background-color: #ddd;
  color: black;
}
.navbar__link.icon {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.navbar__link.icon span {
  width: 36px;
  height: 5px;
  background-color: #616161;
}
@media (max-width: 768px) {
  .navbar__link.icon {
    display: flex;
  }
}

nav {
  background-color: #333;
}

/* -------------------------------------------- */
/*   media requests   */
.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}