// Container & breakponts
@use 'sass:math';
$containerWidth: 1100px;
$containerPadding: 10px;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1440: 1439.98px;
$breakpoint1080: 1079.98px;
$breakpoint768: 767.98px;
$breakpoint398: 397.98px;

$navBarBreakpoint: $breakpoint768;

// colors
$primaryText: #232427;
$secondaryText: #5E5C6C;
$lightText: #9998A4;
$primaryBtn: #2962EF;
$primaryBtnHover: #163da0;
$secondaryFooter: #D6D5DF;
$placeholderFooter: #9998A4;